@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

 body{
    font-family: 'Open Sans', sans-serif;
    background-color: #272525;
} 

.container{
    width: 90%;
    margin: auto;
}

/* Início Header */

.header{
    background-color:#2a2a48;
    width: 100%;
    height: 55px;
    border-radius: 2px;
}

.header h1{
    font-size: 29px;
    float: left;
    color: white;
}

.header h1 a {
    text-decoration: none;
    color: white;
}

.header ul{
    list-style: none;
    float: right;
}

.header h1, .header ul{
    margin-top: 5px;
    font-family: 'Prompt', sans-serif;
}

.header li{
    display: inline-block;
    font-size: 17px;
    text-transform: uppercase;
    padding: 6px;
    border-radius: 5px;
    background-color:rgb(87, 19, 75) 3px;
    font-size: 20px;
}

.header ul li a{
    text-decoration: none;
    color: white;
}

/* fim header */

.background_img {
    
   
    height: 670px;
    display: flex; 
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 3px;
}


.div_cadastro {
    width: 100%;
    height: 75vh;
}

.cadastro{
    background-color: rgba(87, 19, 75, 0.5);
    width: 80vh;
    margin: auto;

    margin-top: 100px; 
    border-radius: 8px;
    
    align-items: center;
    
  }
  
  .cadastro h1{
    text-align: center;
    padding-top: 45px;
    font-weight: lighter;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  .cadastro label, 
  .cadastro input{
    display: block;
    width: 90%;
    margin-left: 5%;
    color: rgb(216, 216, 216);
  }
  
  .cadastro input{
    margin-bottom: 30px;
    height: 35px;
    border: solid 1px #dbd7d7;
    border-radius: 5px;
  }
  
  .cadastro button{ 
    cursor: pointer;
    background-color: rgb(196, 196, 196);
    padding: 5px;
    width: 20%;
    margin-left: 40%;
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-size: 17px;
    height: 40px;
  }
  .cadastro a{
      margin-left: 44%;
      margin-top: 85px;
      color: white;
  }