body {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* CABEÇALHO */

.header {
    background-color: #232323;
    border-right: 3px solid rgb(100, 100, 100);
    width: 19%;
    height: 100%;
    position: fixed;
    margin: none;
}

.header .container .highlight {
    color: rgb(77, 77, 77)
}

.usuario {
    width: 75%;
    overflow: hidden;
    margin: auto;
    text-align: center;
    color: white;
}

.usuario h3 {
    font-weight: 100;
}

.header h1 {
    margin: 0;
    padding: 0;
    float: left;
    margin: 35px;
    color: white;
    font-size: 25px;
    padding-bottom: 50px;
    border-bottom: 2px solid rgb(82, 82, 82);
}

.header ul {
    list-style-type: none;
    float: left;
    margin-top: 40px;
}

.header li {
    margin: 0 0 30px 0;
}

.header a {
    text-transform: uppercase;
    color: white;
}

.header a:hover {
    font-weight: bold;
}

.header .current {
    color: rgb(79, 79, 79);
    font-weight: bold;
}

/* fim header */
