@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

 body{
    font-family: 'Open Sans', sans-serif;
    background-color: #272525;
} 

.container{
    width: 90%;
    margin: auto;
}

/* Início Header */

.header{
    background-color:#2a2a48;
    width: 100%;
    height: 55px;
    border-radius: 2px;
}

.header h1{
    font-size: 29px;
    float: left;
    color: white;
}

.header h1 a {
    text-decoration: none;
    color: white;
}

.header ul{
    list-style: none;
    float: right;
}

.header h1, .header ul{
    margin-top: 5px;
    font-family: 'Prompt', sans-serif;
}

.header li{
    display: inline-block;
    font-size: 17px;
    text-transform: uppercase;
    padding: 6px;
    border-radius: 5px;
    background-color:rgb(87, 19, 75) 3px;
    font-size: 20px;
}

.header ul li a{
    text-decoration: none;
    color: white;
}

/* fim header */

/* Início body história */



.formatacao_historia{
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 10px;
    
}

.titulo_historia h1{
    border-radius: 5px;
    color: honeydew;
    text-align: center;
    padding-right: 5% ;
    padding-left: 5%;
}

.texto_comeco{
   
    float: right;
    background-color: rgba(158, 158, 158, 0.2);
    color: rgb(242, 242, 242);
    border-radius: 1.5px;
    background-image: url("../imgs/download\ \(1\).jfif");
    background-repeat: no-repeat, repeat;
    background-size: cover ;
    
    
}


.texto_comeco p{
    font-size: 20px ;
    justify:space-around;
    display: flex;
    padding: 20px;
    
}


.texto_comeco  img{
    border-radius: 3px;
    width: 30%;
    
}

.texto_comeco a{
    color: rgb(208, 205, 205);
}

.titulo_pos h1{
    border-radius: 5px;
    color: honeydew;
    margin-top: 300px;
    text-align: center;
    
}

.texto_pos{
    text-align: center;
    float: left;
    background-color: rgba(158, 158, 158, 0.2);
    color: rgb(208, 205, 205);
    
}

.texto_pos p{
    font-size: 19px;
    justify:space-around;
    display: flex;
    text-align: justify;
    padding: 15px;
    
    
}

    



.texto_pos a{
    color: rgb(208, 205, 205);
}


.grafico {
    float: left;
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
    background-color: #e7e7e7;
    border-radius: 8px;
}


/* Fim body história */